<div class="flex flex-col flex-auto min-w-0">
    <form (ngSubmit)="save()" #form="ngForm">
        <div class="grid grid-cols-1 sm:grid-cols-1 gap p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent space-y-4">

            <!-- Huella -->
            <div class="flex flex-col">
                <div class="flex items-center space-x-4">
                    <label class="w-40 text-lg font-semibold text-gray-800 dark:text-gray-200">Huella</label>
                    <input 
                        pInputText 
                        minlength="5" 
                        maxlength="10" 
                        required
                        class="flex-1" 
                        autocomplete="off"
                        [(ngModel)]="model.codigoHuella" 
                        name="codigo" 
                        #codigo="ngModel" 
                        type="text"
                        placeholder="SKU ">
                </div>
                <div *ngIf="codigo.invalid && (codigo.dirty || codigo.touched)" class="text-red-500 text-sm ml-16">
                  <div *ngIf="codigo.errors?.required">El código de huella es obligatorio.</div>
                  <div *ngIf="codigo.errors?.minlength">Debe tener al menos 5 caracteres.</div>
                  <div *ngIf="codigo.errors?.maxlength">No debe superar los 10 caracteres.</div>
                </div>
            </div>

            <!-- Cama -->
            <div class="flex flex-col">
                <div class="flex items-center space-x-4">
                    <label class="w-40 text-lg font-semibold text-gray-800 dark:text-gray-200">Cama</label>
                    <input 
                        pInputText 
                        minlength="1" 
                        maxlength="2" 
                        required
                        class="flex-1" 
                        autocomplete="off"
                        [(ngModel)]="model.caslvl" 
                        name="cama" 
                        #cama="ngModel" 
                        type="text"
                        placeholder="Cama"
                        (keypress)="numberOnly($event)">
                </div>
                <div *ngIf="cama.invalid && (cama.dirty || cama.touched)" class="text-red-500 text-sm ml-16">
                  <div *ngIf="cama.errors?.required">Debe ingresar la cantidad de productos en la cama.</div>
                  <div *ngIf="cama.errors?.minlength">Debe tener al menos 1 caracteres.</div>
                  <div *ngIf="cama.errors?.maxlength">No debe superar los 2 caracteres.</div>
                </div>
            </div>

        </div>
        <!-- Botones -->
        <div class="row pt-2 pt-sm-5 mt-1">
            <p-button 
              class="btn btn-space btn-primary" 
              type="submit"
              [disabled]="!form.valid" >
              Guardar
            </p-button>
          
            <p-button  
              routerLinkActive="router-link-active" 
              class="btn btn-space btn-secondary"
              (click)="close()">
              Cancelar
            </p-button>
        </div>
    </form>
</div>

<p-confirmDialog></p-confirmDialog>