<div class="flex flex-col flex-auto min-w-0">
    <!-- Encabezado -->
    <div class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent">
        <div class="flex-1 min-w-0">
            <div  class="flex flex-wrap items-center font-medium">
                <div>
                <a  class="whitespace-nowrap text-primary-500">TWH</a>
                </div>
                <div class="flex items-center ml-1 whitespace-nowrap">
                    <mat-icon
                    class="fuse-horizontal-navigation-item-icon"
                    [svgIcon]="'heroicons_solid:chevron-right'"></mat-icon>
                    <a  class="ml-1 text-primary-500">Ajustes de Inventario</a>
                </div>
            </div>
            <div class="mt-2">
                <h2  class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">Reubicar Pallets</h2>
            </div>
        </div>
    </div>

    <!-- Filtro de búsqueda -->
<div class="flex flex-wrap sm:flex-nowrap gap-6 p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent items-end">

  <!-- Propietario -->
  <div class="w-full sm:w-[350px]">
    <label class="block text-base font-semibold text-gray-800 dark:text-gray-200 mb-1">Propietario</label>
    <p-dropdown 
      [options]="clientes"  
      [(ngModel)]="model.PropietarioId"
      scrollHeight="40vh"
      class="w-full text-base"
      [style]="{ height: '48px' , width: '100%' }"
      placeholder="Todos"
      filter="true"
      (onChange)="CambioCliente($event)">
      <ng-template let-item pTemplate="selectedItem">
        <span>{{item.label}}</span>
      </ng-template>
    </p-dropdown>
  </div>

  <!-- Producto -->
  <div class="w-full sm:w-[350px]">
    <label class="block text-base font-semibold text-gray-800 dark:text-gray-200 mb-1">Producto</label>
    <p-dropdown 
      [options]="productos"  
      [(ngModel)]="model.ProductoId"
      scrollHeight="40vh"
      class="w-full text-base"
      [style]="{ height: '48px'  , width: '100%' }"
      placeholder="Todos"
      filter="true">
      <ng-template let-item pTemplate="selectedItem">
        <span>{{item.label}}</span>
      </ng-template>
    </p-dropdown>
  </div>

  <!-- LPN -->
  <div class="w-full sm:w-[350px]">
    <label class="block text-base font-semibold text-gray-800 dark:text-gray-200 mb-1">LPN</label>
    <input 
      pInputText 
      maxlength="50" 
      class="w-full h-[48px] text-base" 
      autocomplete="off"
      [(ngModel)]="model.lpn" 
      type="text"
      placeholder="Ingrese LPN"
      name="lpn" 
      #lpn="ngModel">
  </div>

   <!-- Ubicacion -->
  <div class="w-full sm:w-[350px]">
    <label class="block text-base font-semibold text-gray-800 dark:text-gray-200 mb-1">Ubicación</label>
    <input 
      pInputText 
      maxlength="50" 
      class="w-full h-[48px] text-base" 
      autocomplete="off"
      [(ngModel)]="model.ubicacion" 
      type="text"
      placeholder="Ingrese Ubicación"
      name="lpn" 
      #lpn="ngModel">
  </div>

  <!-- Botón Buscar -->
  <div class="w-full sm:w-[200px] flex items-end">
    <p-button 
      severity="primary" 
      label="Buscar" 
      (onClick)="buscar()" 
      icon="pi pi-search" 
      styleClass="w-full h-[48px] text-base justify-center">
    </p-button>
  </div>
</div>
    <!-- Tabla Inventario -->
    <div class="flex flex-col px-6 py-0 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent">

        <p-table 
            [style]="{width:'100%'}"
            [scrollable]="true" 
            [columns]="cols" 
            [value]="listData"
            #dt [paginator]="true"
            [rows]="10" 
            [resizableColumns]="true" 
            selectionMode="multiple" 
            [responsive]="true"
            [(selection)]="seleccion"
            >

            <ng-template pTemplate="colgroup" let-columns>
                <colgroup>
                    <col *ngFor="let col of columns"   [ngStyle]="{'width': col.width}" >
                </colgroup>
            </ng-template>

            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th  [ngStyle]="{'width': col.width}" *ngFor="let col of columns" pResizableColumn [pSortableColumn]="col.field">
                        {{col.header}}
                        <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                    </th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr  [pSelectableRow]="rowData">
                    <td class="ui-resizable-column text-center">
                        <div class="ui-inputgroup">
                            <p-button severity="secondary" icon="fa fa-edit" (click)="ver(rowData.id)"></p-button>
                        </div>
                    </td>                            
                    <td class="ui-resizable-column text-center"> {{rowData.ubicacion  }}</td>
                    <td class="ui-resizable-column text-center" > {{rowData.lodNum  }}</td>
                    <td class="ui-resizable-column text-center"> {{rowData.descripcionLarga  }} </td>
                    <td class="ui-resizable-column text-center"> {{rowData.untQty}} </td>
                    <td class="ui-resizable-column text-center"> {{rowData.estado}} </td>
                    
                </tr>
            </ng-template>
        </p-table>

    </div>
</div>